Repository interbit/interbit, pull requests merged in 2018-06, with the labels that each got.

#368 Refactor the CLI for command line/function options parity
  docs/gitbook/reference/interbit-cli/deploy.md
  packages/interbit-cli/scripts/build.js
  packages/interbit-cli/scripts/create.js
  packages/interbit-cli/scripts/deploy.js
  packages/interbit-cli/scripts/keys.js
  packages/interbit-cli/scripts/start.js
  packages/interbit-template/package.json
  packages/interbit/src/args/argOptions.js
  packages/interbit/src/args/getConfig.js
  packages/interbit/src/args/getKeyPair.js
  packages/interbit/src/args/index.js
  packages/interbit/src/chainManagement/connectToPeers.js
  packages/interbit/src/chainManagement/index.js
  packages/interbit/src/config/index.js
  packages/interbit/src/file/index.js
  packages/interbit/src/file/updateIndexHtml.js
  packages/interbit/src/file/watchCovenants.js
  packages/interbit/src/file/writeJsonFile.js
  packages/interbit/src/index.js
  packages/interbit/src/manifest/index.js
  packages/interbit/src/scripts/build.js
  packages/interbit/src/scripts/create.js
  packages/interbit/src/scripts/deploy.js
  packages/interbit/src/scripts/hoist.js
  packages/interbit/src/scripts/index.js
  packages/interbit/src/scripts/keys.js
  packages/interbit/src/scripts/start.js
  packages/interbit/tests/updateIndexHtml.test.js
  packages/platform-deploy/README.md
  packages/platform-deploy/package.json
Labels: sdk-cli, usability

#383 Fix the syntax for ignoring `.lock` files.
  docs/gitbook/.gitignore
Labels: sdk-docs

#384 Use GitBook's "label@path" syntax to avoid copying the theme.
  docs/gitbook/book.json
  docs/package.sh
Labels: sdk-docs

#385 Use relative paths for CSS-specified images, so sub-dir serving works.
  docs/gitbook-plugin-theme-interbit/_assets/website/interbit.css
Labels: sdk-docs

#439 Make all of our tests appear in coverage reports
  packages/interbit-covenant-tools/package.json
  packages/interbit-covenant-tools/src/tests/exports.test.js
  packages/interbit-covenant-tools/src/tests/mergeCovenants/mergeCovenants.test.js
  packages/interbit-covenant-tools/src/tests/rootCovenant/covenant.test.js
  packages/interbit-covenant-tools/src/tests/rootCovenant/rootCovenant.test.js
  packages/interbit-covenant-tools/src/tests/rootCovenant/validateConfig.test.js
  packages/interbit-covenant-tools/src/tests/validate/validate.test.js
  packages/interbit-template/src/tests/exports.test.js
  packages/interbit-ui-tools/package.json
  packages/interbit-ui-tools/src/tests/reducer.test.js
  packages/interbit/package.json
  packages/interbit/src/chainManagement/watchChain.js
  packages/interbit/src/tests/chainManagement/configureJoins.test.js
  packages/interbit/src/tests/chainManagement/watchChain.test.js
  packages/interbit/src/tests/generateDeploymentDetails.test.js
  packages/interbit/src/tests/getArg.test.js
  packages/interbit/src/tests/hoist.test.js
  packages/interbit/src/tests/manifest/generateManifest.test.js
  packages/interbit/src/tests/manifest/manifestSelectors.test.js
  packages/interbit/src/tests/manifest/testData.js
  packages/interbit/src/tests/manifest/validateManifest.test.js
  packages/interbit/src/tests/updateIndexHtml.test.js
  packages/interbit/src/tests/validateConfig.test.js
  packages/interbit/tests/chainManagement/watchChain.test.js
  packages/utils/src/standards/std.wallaby.conf.js
  wallaby.conf.js
Labels: infrastructure

#443 Add patterns for vim swap files to ignore.
  docs/gitbook/.gitignore
Labels: sdk-docs

#446 This file is unnecessary for GitBook books.
  docs/gitbook/package.json
Labels: sdk-docs

#459 Add applyCovenant action creator to interbit-covenant-tools
  packages/interbit-covenant-tools/src/coreCovenant/actionCreators.js
  packages/interbit-covenant-tools/src/coreCovenant/actionTypes.js
  packages/interbit-covenant-tools/src/coreCovenant/index.js
  packages/interbit-covenant-tools/src/coreCovenant/selectors.js
  packages/interbit-covenant-tools/src/index.js
  packages/interbit-covenant-tools/src/tests/exports.test.js
Labels: infrastructure

#492 In preparation for spell-checking, fix all spelling errors.
  docs/gitbook/SUMMARY.md
  docs/gitbook/architecture/README.md
  docs/gitbook/architecture/chain-architecture.md
  docs/gitbook/architecture/img/ppc-creation.svg
  docs/gitbook/architecture/public-private-control-model.md
  docs/gitbook/chain-management/cascading-deployment.md
  docs/gitbook/examples/README.md
  docs/gitbook/examples/determinism.md
  docs/gitbook/examples/initialize.md
  docs/gitbook/examples/intro-project.md
  docs/gitbook/examples/template.md
  docs/gitbook/reference/interbit-cli/config.md
  docs/gitbook/reference/interbit-cli/hoist.md
  docs/gitbook/reference/interbit-cli/manifest.md
  docs/gitbook/reference/interbit-core/cli/createChain.md
  docs/gitbook/reference/interbit-covenant-tools/README.md
  docs/gitbook/reference/interbit-middleware/actionTypes.md
  docs/gitbook/reference/interbit-middleware/chainDispatch.md
  docs/gitbook/reference/interbit-middleware/chainSponsorship.md
  docs/gitbook/reference/interbit/configSelectors.md
  docs/gitbook/reference/interbit/createChains.md
  docs/gitbook/reference/interbit/manifestSelectors.md
  docs/gitbook/tutorials/README.md
Labels: sdk-docs

#493 First draft of the coverage of the Interbit permission model.
  docs/Gemfile
  docs/artwork/admonition icons.ai
  docs/artwork/chain and keys.ai
  docs/artwork/read_join.ai
  docs/artwork/write_join.ai
  docs/gitbook-plugin-theme-interbit/_assets/website/images/icon-caution.svg
  docs/gitbook-plugin-theme-interbit/_assets/website/images/icon-important.svg
  docs/gitbook-plugin-theme-interbit/_assets/website/images/icon-note.svg
  docs/gitbook-plugin-theme-interbit/_assets/website/images/icon-tip.svg
  docs/gitbook-plugin-theme-interbit/_assets/website/images/icon-warning.svg
  docs/gitbook-plugin-theme-interbit/_assets/website/interbit.css
  docs/gitbook/SUMMARY.md
  docs/gitbook/architecture/img/chain_key.svg
  docs/gitbook/architecture/img/read_join.svg
  docs/gitbook/architecture/img/write_join.svg
  docs/gitbook/architecture/permission_model.adoc
  docs/package.sh
Labels: sdk-docs, this is fine

#500 Add previously added assets into new theme location.
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Bold.eot
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Bold.svg
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Bold.ttf
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Bold.woff
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Bold.woff2
  docs/theme-interbit/_assets/website/fonts/RobotoMono-BoldItalic.eot
  docs/theme-interbit/_assets/website/fonts/RobotoMono-BoldItalic.svg
  docs/theme-interbit/_assets/website/fonts/RobotoMono-BoldItalic.ttf
  docs/theme-interbit/_assets/website/fonts/RobotoMono-BoldItalic.woff
  docs/theme-interbit/_assets/website/fonts/RobotoMono-BoldItalic.woff2
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Italic.eot
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Italic.svg
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Italic.ttf
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Italic.woff
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Italic.woff2
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Regular.eot
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Regular.svg
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Regular.ttf
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Regular.woff
  docs/theme-interbit/_assets/website/fonts/RobotoMono-Regular.woff2
  docs/theme-interbit/_assets/website/images/icon-caution.svg
  docs/theme-interbit/_assets/website/images/icon-important.svg
  docs/theme-interbit/_assets/website/images/icon-note.svg
  docs/theme-interbit/_assets/website/images/icon-tip.svg
  docs/theme-interbit/_assets/website/images/icon-warning.svg
Labels: sdk-docs

#502 Add some doc infrastructure
  docs/Gemfile
  docs/Gemfile.lock
  docs/dictionaries/README_en_US-large.txt
  docs/dictionaries/README_interbit.txt
  docs/dictionaries/en_US-large.aff
  docs/dictionaries/en_US-large.dic
  docs/dictionaries/interbit.aff
  docs/dictionaries/interbit.dic
  docs/package.json
  docs/scripts/_debug.js
  docs/scripts/_walk.js
  docs/scripts/checks/line_length.js
  docs/scripts/checks/repeated_words.js
  docs/scripts/checks/spelling.js
  docs/scripts/doc_checks.js
Labels: sdk-docs

#511 Remove warnings about removing your own access.
  docs/gitbook/architecture/permission_model.adoc
Labels: sdk-docs

#509 Add a few additional dictionary terms, and fix two typos.
  docs/dictionaries/interbit.dic
  docs/gitbook/getting-started/create.md
  docs/gitbook/getting-started/run.md
Labels: sdk-docs

#518 Replace mentions of `--dev-mode` with `--dev`.
  docs/gitbook/reference/interbit-cli/start.md
Labels: sdk-docs
