Repository interbit/interbit, pull requests merged in 2018-09, with the labels that each got.

#682 interbit-template config and simplest possible saga
  packages/interbit-template/interbit.config.js
  packages/interbit-template/src/adapters/privateChainAdapter.js
  packages/interbit-template/src/interbit/private/actionTypes.js
  packages/interbit-template/src/interbit/private/actions.js
  packages/interbit-template/src/interbit/private/index.js
  packages/interbit-template/src/interbit/private/package.json
Labels: infrastructure, usability

#681 Accounts app private covenant tests
  packages/app-account/src/tests/covenants/my-account.covenant.test.js
  packages/app-account/src/tests/rendering.test.js
Labels: accounts

#695 Pull redux-form render and validation functions into interbit-ui-components
  package-lock.json
  packages/app-account/src/components/ConnectFormAddMissingProfileField.js
  packages/app-account/src/components/ProfileForm.js
  packages/app-account/src/containers/Account.js
  packages/app-account/src/containers/ChainConnect.js
  packages/app-account/src/containers/CreateAccount.js
  packages/app-account/src/containers/EmailSuccess.js
  packages/app-account/src/containers/ExploreChain.js
  packages/app-account/src/containers/InteractiveChains.js
  packages/app-app-store/src/AppOld.js
  packages/app-app-store/src/containers/AppDetails.js
  packages/app-interbit-io/src/containers/Developers/Resources.js
  packages/app-project/src/components/ProjectHostingForm.js
  packages/app-project/src/containers/ChainConnect.js
  packages/app-project/src/containers/ExploreChain.js
  packages/app-project/src/containers/InteractiveChains.js
  packages/app-project/src/containers/NewProject.js
  packages/app-project/src/containers/ProjectDetails.js
  packages/app-sdk-incrementer/src/containers/ExploreChain.js
  packages/app-sdk-incrementer/src/containers/InteractiveChains.js
  packages/app-todo-list/src/components/AddTodoForm.js
  packages/app-todo-list/src/components/EditTodoRow.js
  packages/app-todo-list/src/containers/ExploreChain.js
  packages/app-todo-list/src/containers/InteractiveChains.js
  packages/app-todo-list/src/containers/TodoList.js
  packages/app-uth-ex/src/containers/ExploreChain.js
  packages/app-uth-ex/src/containers/InteractiveChains.js
  packages/interbit-template/src/containers/CompleteCAuth.js
  packages/interbit-template/src/containers/ExploreChain.js
  packages/interbit-template/src/containers/InteractiveChains.js
  packages/interbit-ui-components/src/components/FormTable/EditableTable.js
  packages/interbit-ui-components/src/components/ReduxForm/IbField.js
  packages/interbit-ui-components/src/components/ReduxForm/validation.js
  packages/interbit-ui-components/src/components/UIKit/LinkBarSlack.js
  packages/interbit-ui-components/src/index.js
  packages/interbit-ui-components/src/tests/exports.test.js
  packages/interbit-ui-components/src/tests/reduxForm.test.js
  packages/interbit-ui-tools/src/middleware/sagas/index.js
Labels: sdk-ui-components, untidy! untidy!

#700 Release version 0.4.48
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package.json
  lerna.json
  packages/app-account/CHANGELOG.md
  packages/app-account/package.json
  packages/app-account/src/interbit/control/package.json
  packages/app-account/src/interbit/github-kyc/package.json
  packages/app-account/src/interbit/my-account/package.json
  packages/app-app-store/CHANGELOG.md
  packages/app-app-store/package.json
  packages/app-interbit-io/CHANGELOG.md
  packages/app-interbit-io/package.json
  packages/app-project/CHANGELOG.md
  packages/app-project/package.json
  packages/app-project/src/interbit/control/package.json
  packages/app-project/src/interbit/my-projects/package.json
  packages/app-project/src/interbit/project/package.json
  packages/app-sdk-incrementer/CHANGELOG.md
  packages/app-sdk-incrementer/package.json
  packages/app-todo-list/CHANGELOG.md
  packages/app-todo-list/package.json
  packages/app-todo-list/src/interbit/control/package.json
  packages/app-todo-list/src/interbit/private/package.json
  packages/app-uth-ex/CHANGELOG.md
  packages/app-uth-ex/package.json
  packages/app-uth-ex/src/interbit/hub/package.json
  packages/app-uth-ex/src/interbit/spoke/package.json
  packages/interbit-cli/CHANGELOG.md
  packages/interbit-cli/package.json
  packages/interbit-covenant-tools/CHANGELOG.md
  packages/interbit-covenant-tools/package.json
  packages/interbit-e2e/CHANGELOG.md
  packages/interbit-e2e/package.json
  packages/interbit-platform-tools/CHANGELOG.md
  packages/interbit-platform-tools/package.json
  packages/interbit-template/CHANGELOG.md
  packages/interbit-template/package.json
  packages/interbit-template/src/interbit/control/package.json
  packages/interbit-template/src/interbit/private/package.json
  packages/interbit-test/CHANGELOG.md
  packages/interbit-test/package.json
  packages/interbit-ui-components/CHANGELOG.md
  packages/interbit-ui-components/package.json
  packages/interbit-ui-tools/CHANGELOG.md
  packages/interbit-ui-tools/package.json
  packages/interbit/CHANGELOG.md
  packages/interbit/package.json
  packages/platform-deploy/CHANGELOG.md
  packages/platform-deploy/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/standards/req.app-package.json
  packages/utils/src/standards/std.lerna.json
  packages/web-auth-endpoint/CHANGELOG.md
  packages/web-auth-endpoint/package.json
Labels: sdk-cli, sdk-ui-components, sdk-ui-tools

#710 Fix webpack build for interbit-ui-components
  package-lock.json
  packages/app-account/src/index.js
  packages/app-app-store/src/index.js
  packages/app-interbit-io/src/index.js
  packages/app-project/src/index.js
  packages/app-sdk-incrementer/src/index.js
  packages/app-todo-list/src/index.js
  packages/app-uth-ex/src/index.js
  packages/interbit-template/src/index.js
  packages/interbit-ui-components/package.json
  packages/interbit-ui-components/src/css/index.css
  packages/interbit-ui-components/src/css/index.css.map
  packages/interbit-ui-components/src/css/interbit.css
  packages/interbit-ui-components/src/css/interbit.css.map
  packages/interbit-ui-components/src/index.js
  packages/interbit-ui-components/src/scss/_index.scss
  packages/interbit-ui-components/src/scss/interbit.scss
  packages/interbit-ui-components/webpack.config.js
Labels: sdk-ui-components

#717 Clean up interbit-ui-components styleguide
  package-lock.json
  packages/interbit-ui-components/src/components/UIKit/Card.md
  packages/interbit-ui-components/src/components/UIKit/ContentBarDefault.md
  packages/interbit-ui-components/src/components/UIKit/LaunchPad.md
  packages/interbit-ui-components/src/components/UIKit/LinkBar.js
  packages/interbit-ui-components/src/components/UIKit/Quote.md
  packages/interbit-ui-components/styleguide.config.js
Labels: sdk-ui-components, untidy! untidy!

#720 Miscellaneous tidying items
  CONTRIBUTING.md
  README.md
  packages/app-account/src/constants/urls.js
  packages/app-account/src/content/modals.js
  packages/app-app-store/src/assets/chairmanmeow.jpg
  packages/app-app-store/src/assets/placeholder.svg
  packages/app-app-store/src/constants/urls.js
  packages/app-project/src/assets/chairmanmeow.jpg
  packages/app-project/src/assets/placeholder.svg
  packages/app-project/src/components/ProjectHostingForm.js
  packages/app-project/src/constants/urls.js
  packages/app-project/src/containers/NewProject.js
  packages/app-project/src/containers/ProjectList.js
  packages/app-todo-list/src/constants/urls.js
  packages/interbit-template/src/constants/urls.js
  packages/interbit-ui-components/src/components/UIKit/Icons/SlackIcon.js
  packages/interbit-ui-components/src/components/UIKit/LinkBarSlack.js
  packages/interbit-ui-components/src/index.js
  packages/interbit-ui-components/src/scss/_index.scss
  packages/interbit-ui-components/src/scss/interbit.scss
  packages/interbit-ui-components/src/scss/interbit/_link-bar.scss
  packages/interbit-ui-components/src/scss/interbit/_variables.scss
  packages/interbit-ui-components/src/tests/exports.test.js
  packages/interbit-ui-components/styleguide/chairmanmeow.jpg
Labels: untidy! untidy!
